.content {
  &__index-sub-menu {
    width: 20%;
    float: left;
    &__latest-memos-area {
      margin-bottom: 14px;
      border: solid 1px #ddd;
      padding: 10px 10px;
      &__area-title-area {
        margin-bottom: 4px;
      }
      &__title-area {
        padding-top: 6px;
        margin-left: 8px;
        margin-bottom: 4px;
        border-top: solid 1px #ddd;
      }
    }
    &__calendar-area {
      height: 100px;
      padding: 10px 10px;
      border: solid 1px #ddd;
    }
  }
}
