.wrapper
  .outline
    .content
      = render 'side-bar/what'
      .content__main
        .content__main__wrapper
          .content__main__wrapper__left
            %h2{ class: "content__main__wrapper__left__title" }思考銀行とは？
            .content__main__wrapper__left__main-icon-area
              = image_tag('main_icon.png', class: "content__main__wrapper__left__main-icon-area__main-icon")
          .content__main__wrapper__right
            %p{ class: "content__main__wrapper__right__discription" }
              　思考銀行では、銀行がお金を預かるように、皆さんが日々思いつくアイデアをお預かりします。<br><br>

              　人間は１日に６万回思考すると言われています。しかし、１日を終えて床につくとき、私たちは６万の思考のほとんどを覚えていません。その中には、皆さんの将来を楽しくしたり、豊かにするようにアイデアが眠っているかもしれません。<br><br>

              　思考銀行では、そんなアイデアをお預かりします。今すぐには実行できないアイデアや、すぐ忘れてしまうようなちょっとした思いつきを「貯考」することで、皆さんの将来を楽しくするお手伝いができれば幸いです。<br><br>
