.content__side-menu.mobile-none
  .content__side-menu__title-area
    .content__side-menu__title-area__square.square
    %h3{class: "content__side-menu__title-area__title"}Setting
  %ul{class: "content__side-menu__link-lists"}
    %li{class: "content__side-menu__link-lists__list"}
      = link_to 'アカウント設定', edit_user_registration_path, class: "content__side-menu__link-lists__list__link text-link non-deco"
    %li{class: "content__side-menu__link-lists__list"}
      = link_to 'リマインダー設定(要リンク)', '', class: "content__side-menu__link-lists__list__link text-link non-deco"
