.content__sub-menu
  .content__sub-menu__title-area
    .content__sub-menu__title-area__square.square
    %h3{class: "content__sub-menu__title-area__title"}Setting
  %ul{class: "content__sub-menu__link-lists"}
    %li{class: "content__sub-menu__link-lists__list"}
      = link_to 'アカウント設定', edit_user_registration_path, class: "content__sub-menu__link-lists__list__link text-link non-deco", id: "account-setting"
