.content {
  &__index-sub-menu {
    width: 20%;
    float: left;
    &__latest-memos-area {
      margin-bottom: 14px;
      border: solid 1px #ddd;
      padding: 10px 10px;
      &__area-title-area {
        margin-bottom: 4px;
      }
      &__title-area {
        padding-top: 6px;
        margin-left: 8px;
        margin-bottom: 4px;
        border-top: solid 1px #ddd;
      }
    }
    &__calendar-area {
      display: inline-block;
      padding: 10px 10px;
      border: solid 1px #ddd;
      width: 100%;
      position: relative;
      height: 180px;
      &__calendar {
        width: 100%;
        position: absolute;
        top: 10px;
        left: 0;
        &__yajirushi img {
          width: 14px;
          display: inline-block;
          position: relative;
          z-index: 100;
        }
      }
      &__calendar caption {
        text-align: center;
      }
    }
  }
}

.back_month {
  float: left;
}

.forward_month {
  float: right;
}
