@media (max-width: 414px) {
  .idea-index-outline {
    padding-top: 110px!important;
  }

  .second-header {
    width: 100%;
    border-bottom: solid 1px #ddd;
    margin-bottom: 16px;
    margin-top: 50px;
    position: fixed;
    background-color: #fff;
    height: 50px;
  }
}
