@media(max-width: 414px) {
  .idea-index-outline {
    padding-top: 110px!important;
  }

  .second-header {
    width: 100%;
    border-bottom: solid 1px #ddd;
    margin-bottom: 16px;
    margin-top: 50px;
    position: fixed;
    background-color: #fff;
    height: 50px;
    &__icon-area {
      width: 100%;
      text-align: center;
      overflow: auto;
      padding: 6px 0 6px 0;
      &__calendar-area {
        float: left;
        width: 50%;
      }
      &__latest-memos-area {
        float: left;
        width: 50%;
      }
    }
    &__icon-area img {
      width: 26px;
      height: 26px;
    }
    &__latest-memos-area {
      position: absolute;
      top: -1000px;
      left: 0;
      font-size: 16px;
      background-color: #333;
      width: 100%;
      color: #fff;
      display: block !important;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      &__area-title-area {
        background-color: black;
        height: 50px;
        padding-left: 15px;
        display: table;
        width: 100%;
        &__title {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    &__latest-memos-area li a {
      width: 90%;
      display: block;
      font-weight: 500;
      color: #fff;
      margin: 0 auto;
      padding: 10px 0;
      border-bottom: solid 1px #fff;
    }
    &__calendar-area {
      position: absolute;
      height: 190px;
      top: -1000px;
      left: 0;
      font-size: 16px;
      background-color: #333;
      width: 100%;
      color: #fff;
      display: block!important;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }
    &__calendar-area a {
      width: 90%;
      display: block;
      font-weight: 500;
      color: yellow;
      margin: 0 auto;
    }
  }
  .open-latest-memos #latest-memos-area {
    -moz-transform: translateY(1050px);
    -webkit-transform: translateY(1050px);
    transform: translateY(1050px);
  }

  .open-calendar #calendar-area {
    -moz-transform: translateY(1050px);
    -webkit-transform: translateY(1050px);
    transform: translateY(1050px);
  }
}

