@media(max-width: 414px) {
  .content {
    &__main {
      &__wrapper {
        padding: 0;
        &__left {
          width: 100%;
          float: none;
          &__main-icon-area {
            margin-top: 20px;
            margin-bottom: 40px;
          }
        }
        &__right {
          width: 100%;
          float: none;
        }
      }
    }
  }
}
