body {
  font-size: 14px;
  color: #4A4A4A;
  line-height: 1.5;
  font-family: 'PT Sans', sans-serif;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.outline {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  padding: 20px 40px 0 40px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}


a {
  color: #4A4A4A;
}

a:hover {
  color: #000000;
}

li {
  list-style: none;
}

// フォーム関連

.form-decoration {
  display: block;
  padding: 8px 6px;
  width: 100%;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  color: #555;
  font-size: 12px;
  margin-top: 6px;
}

.under-form {
  margin-bottom: 15px;
}


::-webkit-input-placeholder {
  color: #9B9B9B;
}

// ボタン
.btn {
  display: inline-block;
  padding: 6px 12px;
  border: 1px, solid transparent;
  border-radius: 3px;
  background-image: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.btn-main {
  background-color: #4A4A4A;
  color: #fff;
}

.btn-main:hover {
  background-color: #000000;
}

// テキストリンク
.text-link:hover {
  color: #aaa;
}

.non-deco {
  text-decoration: none;
}

// スクエア
.square {
  width: 8px;
  height: 24px;
  background-color: $main-color;
  float: left;
}



// フラッシュメッセージ
.flash-message {
  width: 100%;
  text-align: center;
  background-color: $main-color;
  color: #fff;
}


// デスクトップでは表示させない要素に付加
.desktop-none {
  display: none;
}




