@media (max-width: 414px) {
  body {
    font-size: 12px;
  }

  h1 {
  font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  .mobile-none {
    display: none !important;
  }

  .desktop-none {
    display: inline-block;
  }

  .transparent-form {
    opacity: 0.9;
  }

  ::-webkit-input-placeholder {
  font-size: 10px;
}
}
