@media (max-width: 414px) {
  body {
    font-size: 12px;
  }

  h1 {
  font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  .mobile-none {
    display: none !important;
  }

  .desktop-none {
    display: inline-block;
  }

  .transparent-form {
    opacity: 0.9;
  }

  // プレイスホルダーの設定
  ::-webkit-input-placeholder {
  font-size: 10px;
  }

  // スクエア
  .square {
    height: 20px;
    margin-right: 4px;
  }

  // ボタンを画面いっぱいさせたいときつける
  .full-width-btn {
    width: 100%;
  }

  // border-bottomをつける
  .border-bottom {
    border-bottom: solid 1px #ddd!important;
  }
    // usersコントローラのページ用
    .mobile-actions {
      float: none;
      width: 100%;
      margin-bottom: 40px;
    }

    .ue {
      margin-top: 20px;

    }



}
