.div{ class: "header-wrapper" }
  %header{ class: "header-wrapper__header", id: "top-head" }
    .header__wrapper__header__left
      = image_tag('main_icon.png')
      %h1{ class: "header-wrapper__header__title" }
        = link_to '思考銀行', root_path
